body {
    margin: 0px;
    color: whitesmoke;
    box-sizing: border-box;
}

* {
    margin: 0px;
}

#main-container {
    width: 100%;
    height: 100vh;
    background-image: url(https://images.hdqwalls.com/wallpapers/weather-and-sky-4k-nb.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#container-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    word-wrap: break-word;
    align-items: center;
    width: 25%;
    min-height: 60%;
    background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

#container-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
    min-height: 40%;
    
}

#container-3 {
    width: 20%;
    min-height: 60%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-small {
    width: 90%;
    min-height: 45%;
}

.inside-container {
    text-align: center;
}



.image {
    font-size: 200px;
}

.weather-description {
    font-size: max(28px, 3.5vw);
}

.temperature {
    margin-top: 20px;
    font-size: 3em;
}

.current-weather {
    align-items: center;
}

.bottom-container {
    display: flex;
    justify-content: space-around;
    word-wrap: break-word;
    align-items: center;
}

.left-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    height: 70%;
    text-align: center;
    font-size: max(26px, 2vw);
}

.right-bottom {
    display: flex;
    padding: 5px;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5em;
    width: 40%;
    height: 70%;
}

.right-bottom-elements {
    font-size: max(26px, 2vw);
    text-align: center;
        
}

.date {
    display: inline-block;
    font-size: max(16px, 1.5vw);
}

.left-bottom-elements {
    text-align: left;
    
}

.city {
    font-size: max(22px, 1.7vw);
    text-align: center;
}

.region {
    font-size: max(22px, 1.7vw);
    text-align: center;
}

.country {
    font-size: max(22px, 1.7vw);
    text-align: center;
}


.search-bar-container {
    width: 80%;
    display: flex;
    align-items: center;
}

#search-bar {

}

.input {
    width:  100%;
    min-height: 50px;
    padding: 0 1rem;
    color: #fff;
    font-size: 20px;
    border: 1px solid #5e4dcd;
    border-radius: 6px 0 0 6px;
    background-color: transparent;
}

.search-button {
    width: 30%;
    min-height: 50px;
    padding: .5em 1em;
    border: none;
    border-radius: 0 6px 6px 0;
    background-color: #5e4dcd;
    color: #fff;
    font-size: 80%;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
}

.search-button:hover {
    background-color: #5e5dcd;
}

.search-bar-container ::placeholder {
    color: white;
}

.error-message {
    color: red;
    width: 75%;
    text-align: left;
    font-size: 16px;
    padding: 5px;
}

.input:focus,
.input:focus-visible {
    border-color: #19179e;
    outline: none;
}

.right-container {
    width: 100%;
    text-align: center;
    font-size: 2vw;
}

.description {
    width: auto;
}

.right-details {
    text-align: left;
    width: 100%;
    height: auto;
    padding: 1rem 0;
    margin: 10px 0px;
    font-size: max(28px, 1.8vw);
    word-wrap: break-word;
    display: flex;
    justify-content: center;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.right-icons {
    width: 2rem;
    margin-right: 15px;
}

.kph-mph {
    display: block;
}